@charset "utf-8";
@import "normalize";

body {
  font-family: "DIN", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  color: #333;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;

  &.index {
    background: hsl(200, 5%, 7.5%) url(https://images.unsplash.com/photo-1423784346385-c1d4dac9893a?format=auto&auto=compress&dpr=2&crop=entropy&fit=crop&w=1147&h=765&q=80) no-repeat left;
    background-size: cover;
    color: white;

    a {
      color: white;
    }

    nav .logo {
      background: url("../images/logo-white.svg") no-repeat;
      background-size: cover;

      img {
        visibility: hidden;
      }
    }
  }
}

h1 {
  font-size: 4em;
}

a {
  color: black;
}

figure {
  margin: 0;
  width: 50%;
  min-height: calc(100vh - 20em);

  h2 {
    font-size: 3em;
  }

  p {
    font-size: 18px;
    line-height: 1.5em;
  }
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 2em;
  overflow: hidden;
}

nav {
  text-align: right;

  a {
    display: inline-block;
    vertical-align: middle;
    height: 2em;
    line-height: 3em;
    font-size: 18px;
    text-decoration: none;
    padding-left: 1em;
  }

  .logo {
    float: left;
    padding: 0;

    img {
      height: 2em;
    }
  }
}
